html, body {
    background: #333;
    color: white;
}
a, a:link {
    color: rgb(255, 255, 255);
}
a:visited {
    color: rgb(254, 254, 254);
}
.action a {
    font-weight: bold;
}
* {
    font-family: Verdana, Arial, sans-serif;
}
input, button {
    height: 1.5em;
    padding: 0.2em;
    border: 1px solid black;
    box-sizing: content-box;
}
input[type=checkbox] {
    padding: 0;
    margin: 0;
    height: auto;
}
#about {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 0.8em;
    z-index: 4;
}
.info {
    position: fixed;
    left: 30px;
    right: 30px;
    top: 30px;
    text-align: center;
    padding: 20px;
    border: 0;
    border-radius: 20px;
    background: #666;
}
.nobreak, .votecount {
    white-space: nowrap;
}
span.spinner {
    display: inline-block;
}
.spinner {
    width: 32px;
    height: 32px;
    margin: 0;
    background-repeat: no-repeat;
}
.spinner.light {
    background-image: url(images/loader-lightbg.gif);
}
.spinner.dark {
    background-image: url(images/loader-darkbg.gif);
}
.spinner.dark-small {
    background-image: url(images/loader-darkbg-small.gif);
    width: 16px;
    height: 16px;
}
.modal {
    display: none;
}
.modal .bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0.5;
    z-index: 2;
}
.modal.cancelable .bg {
    cursor: pointer;
}
.modal .dialog {
    background-color: #555;
    width: 600px;
    height: auto;
    max-height: calc(100vh - 40px);
    position: fixed;
    top: 20px;
    left: calc(50vw - 300px);
    box-sizing: border-box;
    padding: 0;
    border-radius: 10px;
    overflow: auto;
    z-index: 3;
}
.modal .dialog .close {
    width: 32px;
    height: 32px;
    background-image: url(images/close.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.modal .dialog .content {
    padding: 10px;
}
@media (max-width: 640px) {
    .modal .dialog {
        left: 20px;
        width: calc(100vw - 40px);
    }
}
h1, .dialog h2 {
	margin-top: 0;
}
#passcode-spinner, #open-config-spinner, #vote-spinner, #captcha-spinner, #auth-spinner, #config-spinner {
    display: none;
}
#new-passcode {
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
}
#new-passcode-qr {
	text-align: center;
}
#new-passcode-qr * {
	text-align: left;
	margin: 0 auto;
}
#config input[type=number] {
    width: 8ch;
}
#config input[type=text] {
    width: 100%;
    box-sizing: border-box;
    height: calc(1.9em + 2px);
}
#config button {
    margin-top: 1em;
}
html.purkkadj-player, html.purkkadj-player body {
    overflow: hidden;
}
html.purkkadj-player h1, html.purkkadj-player h2, html.purkkadj-player h3 {
    margin: 0;
}
.player-overlay {
    position: absolute;
    top: 0;
    z-index: 1;
    background: rgba(255, 255, 255, 0.6);
    color: #000;
    box-sizing: border-box;
    padding: 5px;
}
.player-overlay ul {
    padding-left: 15px;
    margin: 0;
}
#player {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}
#player-title-area {
    top: -1000px;
    left: 0;
    width: 100vw;
    height: 40px;
    text-align: center;
    z-index: 3;
}
html.player-title-shown #player-title-area {
    top: 0;
}
html.player-title-shown .player-overlay {
    top: 40px;
}
html.player-title-shown #player-songs-area {
    max-height: calc(100vh - 250px);
}
#player-info-area {
    left: 300px;
    width: calc(100vw - 600px);
    text-align: center;
}
#player-songs-area {
    right: 0;
    width: 300px;
    border-bottom-left-radius: 10px;
    max-height: calc(100vh - 210px);
    overflow: hidden;
}
#player-played-area {
    left: 0;
    width: 300px;
    border-bottom-right-radius: 10px;
    max-height: calc(100vh - 40px);
    overflow: hidden;
}
#player-playing-area {
    display: flex;
    left: 0;
    bottom: 0;
    top: auto;
    width: 100vw;
    align-items: baseline;
}
#player-playing-area > * {
    flex-shrink: 0;
}
#playing-label {
    font-weight: bold;
    font-size: 1.2em;
}
#playing {
    flex-shrink: 1 !important;
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#playtime {
    text-align: right;
    font-weight: bold;
}
#vote-url {
    color: #000;
}
#vote-qr {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 4;
    width: 200px;
    height: 200px;
}
.fullscreen, .fullscreen * {
    cursor: none !important;
}
